@font-face{
    font-family: 'roboto';
    src: url(/static/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'roboto-black';
    src: url(/static/Roboto-Black.ttf);
}

$emerald-green: #5CDB95;
$imperial-blue: #05386B;

body {
    background-color: $emerald-green;
    font-family: 'roboto';

    color: #EDF5E1;

    .site-main {
        // margin-top: 10em;
        .site-banner {
            .site-title h1 {
                font-size: 5em;

                #personal-name {
                    color: $imperial-blue;
                    font-family: 'roboto-black';
                }
            }

            .site-title h3 {
                padding-top: 35%;
                font-weight: 500;
            }

            .site-title h4 {
                font-size: 1.5rem;
            }

            .banner-image {
                img {
                    padding: 5rem 0;
                    border-radius: 90%;
                    max-width: 100%;
                    height: 400px;
                }
            }

            .banner-links {
                box-sizing: border-box;

                #social-links {
                    li {
                        display: inline-block;
                        list-style: none;
                        padding: 0 4px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.header_area {
    .main-menu {
        .navbar {
            padding: 1rem 20rem;

            .nav-link {
                // color: #EDF5E1;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 601px) {
    .site-banner {
        margin-top: 5em;
        margin-left: 10em;
    }
}

@media (max-width: 600px) {
    body {
        background-color: $imperial-blue;

        .site-main {
            .site-banner {
                .site-title h1 {
                    #personal-name {
                        color: $emerald-green;
                        font-family: 'roboto-black';
                    }
                }
            }
        }
    }
}